body{
    max-width: 1320px;
    margin: 0 auto;
}
header{
    background-color: #f5f5f5;
    margin-bottom: 10px;
}
a#banner{
    display: inline-block;
}
a#banner img{
    height: 100px;
}

nav{
    background-color: #f5f5f5;
    padding: 10px 0;
    margin-bottom: 10px;
}
nav ul{
  text-align: center;
  list-style-type: none;
  font-size: 0;
}
nav ul li{
    display: inline-block;
    padding: 0px 15px;
    border-right: 1px solid black;
    font-size: 14px;
}
nav ul li:nth-last-child(1){
    border: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

section#content-main{
    position: relative;
    padding-bottom: 56.25%;
  
}
div#main{
    overflow: hidden;
}
div#wrap{
    float: left;
    width: 66%;
}

section#content-main iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
aside{
    float: right;
    width: 33%;

}
aside ul{
    padding: 0;
    background-color: #f5f5f5;
    list-style-type: none;
    margin: 0;
    text-align: center;

}
aside ul li{
    display: inline-block;
    margin: 0 0 20px 0;
}
aside ul li p{
    text-align: left;
    margin: 5px 0;
}
span.title{
    font-weight: bold;
}
span.viewcount{
    font-size: 12px;
    color: gray;
}
footer{
    margin: 20px 0;
    background-color: #f5f5f5;
    padding: 10px 0;

}
footer p{
    text-align: center;
    color: black;
    font-weight: bold;
}
